.text {
    font: bold 140px Arial, sans-serif;
    color: black;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

body {
    background-color: #FFFF00;
}

p {
    font: bold 4px Arial, sans-serif;
    color: black;
    text-align: center;
}
