iframe {
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('monofonto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

.text {
    font: bold 140px font-family: 'MyCustomFont', sans-serif;
    color: black;
    text-align: center;
}
