.text {
    font: bold 140px 'MyCustomFont', sans-serif;
    color: black;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('monofonto.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFFF00;
}

<style>
  body {
    background-color: red !important;
  }
  .text {
    color: green !important;
    font-size: 50px !important;
  }
</style>
